.post-container {
  margin-top: 60px;

  header {
    margin-bottom: 16px;
    .post-date {
      font-size: 14px;
      color: black;
    }
  }

  .content {
    margin-top: 60px;

    ul {
      list-style-type: none;
      margin-left: 18px;

      & > li::before {
        content: "–"; /* en dash here */
        position: absolute;
        margin-left: -1.1em;
      }
    }
  }

  .back-link {
    font-family: 'DM Mono', monospace;
    margin: 16px 0 24px 0;
    font-size: 18px;
  }

  // Select all text wrapped in `` in markdown - generated a `code` tag without a language class
  code:not([class*="language-"]) {
    padding: 0.2em;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
  }
}