@font-face {
    font-family: "Simula";
    src: url(/assets/fonts/Simula-Book.otf);
}

@font-face {
    font-family: "Simula";
    font-style: italic;
    src: url(/assets/fonts/Simula-BookItalic.otf);
}

@font-face {
    font-family: "Cheesy Tots";
    src: url(/assets/fonts/CheesyTots-Regular.woff);
}

@font-face {
    font-family: "Karrik";
    src: url(/assets/fonts/Karrik-Regular.otf);
}

@font-face {
    font-family: "Karrik";
    font-style: italic;
    src: url(/assets/fonts/Karrik-Italic.otf);
}

::selection {
  color: black;
  background-color: #ccfe02;
}

::-moz-selection {
  color: black;
  background-color: #ccfe02;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Simula', 'Times New Roman', serif;
  color: black;
  letter-spacing: 0.2px;
  background: url(/assets/images/ooze2.png), #fcfcff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}

h1 {
  font-family: 'Cheesy Tots', Simula, sans-serif;
  font-size: 75px;
  line-height: 65px;
  margin-bottom: 25px;
  font-weight: normal;
}

h2 {
  margin: 24px 0 24px 40px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  font-style: italic;
  letter-spacing: 0.2px;
}

h3 {
  font-family: 'Cheesy Tots', Simula, sans-serif;
  margin: 24px 0 12px 0;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 25px;
  letter-spacing: 0.4px;
}

.container {
  margin: 60px 35% 60px 20%;
  background: #fcfcff;
  padding: 15px 0;
  border-radius: 10px;
  blockquote {
    margin: 16px 0;
    padding: 0 20px;
    color: black;
    border-left: 20px solid black;
    font-family: 'Karrik', Helvetica, Arial, sans-serif;
  }
}

.footnotes, .footnotes-list, .footnote-item p {
    font-size: 13px;
    line-height: 17px;
    font-family: 'DM Mono', monospace;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0 0 0 16px;
    letter-spacing: normal;
    color: #989898;
  }

hr {
  height:2px; 
  border:none; 
  color:#ccfe02; 
  background-color:#ccfe02; 
  margin-bottom: 10px;
}

.footer {
  font-size: 13px;
  line-height: 17px;
  font-family: 'DM Mono', monospace;
  margin-top: 60px;
  letter-spacing: normal;
}

sup {
  font-size: 11px;
  line-height: normal;
  border-radius: .6em;
  padding: .1em .2em .07em .23em;
  border: 1px solid slateblue;
  font-weight: normal;
  font-style: normal;
  font-family: 'DM Mono', monospace;
}

a {
  text-decoration: none;
  color: slateblue;

  &:hover {
    text-shadow: 0px 0px 10px slateblue;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    cursor: alias;
    text-decoration: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 5%;
  }
}
