.category {
  margin-top: 25px;
  margin-bottom: 10px;
}

.posts {
  list-style: none;
  .post {
    line-height: 28px;
    font-size: 24px;
    margin: 20px 0;
    padding: 3px;
    &-title {
      font-style: italic;
      font-size: 30px;
      line-height: 35px;
    }
    &-date {
      font-size: 13px;
      line-height: normal;
      color: #aaa;
      font-family: 'DM Mono', monospace;
    }
    &-description {
      font-size: 18px;
      line-height: normal;
      color: black;
      font-family: 'Karrik', Helvetica, Arial, sans-serif;
    }
  }
}

.backtomain {
  font-size: 16px;
  line-height: normal;
  font-family: 'DM Mono', monospace;
  position: absolute;
  top:5px;
  background:#fcfcff;
  padding-right:5px;
  border-radius: 10px;
}

.name {
  color: black;
  font-size: large;
  margin-bottom: 5px;
}
